## 0-1 KNAPSACK PROBLEM USING DYNAMIC PROGRAMMING

## Algorithm

for i in W:
    for j in n:
           if (j-w[i])<0:
               F[i][j]=F[i-1][j]
           else if (j-w[i])>=0:
               F[i][j]=max(F[i-1][j],V[i]+F[i-1][j-w[i]]
return F

#### Data - https://www.kaggle.com/tizianoparriani/kp01pisinger?select=knapPI_1_500_1000_1_items.csv

In [1]:
#Loading the data
import pandas as pd
data=pd.read_csv("knapsack.csv")
data

     Item  Profit  Weight    Product Type
0       1     482     485      Laptop bag
1       2     257     326       Briefcase
2       3     286     248  Trashy shopper
3       4     517     421          Wallet
4       5     404     322          Purser
..    ...     ...     ...             ...
495   496     421     496         Textile
496   497     270     313           Steel
497   498      99     138            Wood
498   499     429     334            Lead
499   500    1004     988      Fertilizer

[500 rows x 4 columns]

In [2]:
wt=(data['Weight']).to_numpy()
wt

array([485, 326, 248, 421, 322, 795,  43, 845, 955, 252,   9, 901, 122,
        94, 738, 574, 715, 882, 367, 984, 299, 433, 682,  72, 874, 138,
       856, 145, 995, 529, 199, 277,  97, 719, 242, 107, 122,  70,  98,
       600, 645, 267, 972, 895, 213, 748, 487, 923,  29, 674, 540, 554,
       467,  46, 710, 553, 191, 724, 730, 988,  90, 340, 549, 196, 865,
       678, 570, 936, 722, 651, 123, 431, 508, 585, 853, 642, 992, 725,
       286, 812, 859, 663,  88, 179, 187, 619, 261, 846, 192, 261, 514,
       886, 530, 849, 294, 799, 391, 330, 298, 790, 275, 826,  72, 866,
       951, 748, 685, 956, 564, 183, 400, 721, 207, 323, 611, 116, 109,
       795, 343, 862, 685,  10, 881, 984, 403, 360, 449, 541, 272, 877,
       359, 707, 308, 770,  30, 208, 311, 100, 939, 422, 785, 370, 989,
       969, 143, 972,  28,  61, 638, 348, 347,  66, 391, 638, 295, 826,
       196, 449, 855, 143, 487, 140, 564, 615, 135, 564, 360, 793, 163,
       859, 760, 711, 662, 159, 660, 268, 948, 315, 676, 341, 689, 894,
       706, 490, 478, 671, 932, 899, 237, 187, 472, 772,  98, 906, 911,
       635, 225, 823, 164, 343, 732, 502, 740, 576, 612, 902, 454, 411,
       973, 703, 850,  77, 220, 802, 403, 181,  10, 525, 919, 668, 527,
       462, 291, 605, 457, 405, 417, 279, 685, 596, 307, 224, 322, 840,
       975, 401,  91, 327, 330, 182, 603, 793, 615, 733, 864,  16, 863,
       987, 306,  34, 840, 700, 706, 787, 105, 834, 798, 310, 609, 690,
       561, 579,  60, 388, 309, 407, 200, 313, 970,  33, 273, 277, 997,
        40, 227, 860, 940, 608, 990, 590, 806,  52, 801, 764, 710, 386,
       593,  50, 494, 156, 936, 965,  86, 723, 184, 868, 340, 412, 487,
       209, 346, 860, 307,  95, 821, 941, 821, 587, 201, 665, 527, 812,
       424, 459, 343, 836, 506, 179, 916, 430, 596, 808, 269, 512, 811,
       685, 567, 776, 855, 718, 853,  97, 146, 746,  15, 965, 512, 480,
       958, 665, 191, 964, 515, 606, 822, 536, 693,  19, 335, 101, 922,
       294, 910, 410, 250, 546, 729, 609, 720, 976, 759, 798,  74, 648,
       299, 785, 846, 390, 897, 416, 837, 247, 293, 144, 938, 467, 480,
       955, 665,  26, 564, 449,  26, 521, 301, 321, 613, 388, 879, 990,
       188, 963, 820, 300, 822, 255, 277, 153, 400, 227, 518, 447, 315,
       813, 324, 502, 299, 780, 376, 516, 212, 329, 810, 486, 485, 416,
       952, 894, 358,  21, 647,  44, 683, 361, 814, 231,   8, 165, 496,
       699, 852, 459, 535, 314, 944, 306, 459, 637, 447, 408, 107, 962,
       565, 407, 857, 317,  98, 818, 600, 288, 902, 567, 190, 749, 908,
       276, 748, 592, 393, 363, 163, 983, 179,  16, 478, 259, 868, 295,
       596,  71, 622, 864, 644,   5, 365, 429,  64, 854, 770,  88, 157,
       368, 421, 719, 271, 975, 816, 962, 535, 438, 696, 881, 318,  45,
        52, 496, 313, 138, 334, 988], dtype=int64)

In [3]:
v=(data['Profit']).to_numpy()
v

array([ 482,  257,  286,  517,  404,  713,   45,  924,  873,  160,    1,
        838,   40,   58,  676,  627,  766,  862,  405,  923,  379,  461,
        612,  133,  813,   97,  908,  165,  996,  623,  220,  298,  157,
        723,  144,   48,  129,  148,   35,  644,  632,  272, 1040,  977,
        312,  778,  567,  965,    1,  616,  569,  628,  493,   76,  733,
        575,  288,  775,  723,  912,   64,  354,  565,  210,  922,  775,
        566,  934,  626,  742,  194,  485,  483,  617,  876,  653,  896,
        652,  220,  727,  900,  563,   56,  157,  280,  537,  284,  920,
        124,  239,  459,  931,  504,  910,  382,  795,  485,  351,  289,
        865,  250,  738,   75,  788,  947,  651,  595,  993,  663,  265,
        338,  637,  206,  328,  618,   64,  139,  806,  412,  912,  715,
          1,  929, 1025,  410,  273,  507,  450,  174,  882,  427,  787,
        355,  734,    1,  248,  397,  159,  874,  449,  857,  286,  976,
        908,  103, 1071,    1,  117,  697,  424,  439,   74,  442,  568,
        195,  854,  281,  433,  845,  224,  487,  181,  496,  690,  124,
        575,  374,  766,  149,  776,  793,  674,  696,   90,  732,  214,
        935,  228,  619,  349,  734,  964,  644,  484,  491,  628, 1009,
        944,  315,   92,  554,  757,   88,  952,  818,  628,  316,  818,
        255,  432,  763,  490,  721,  587,  530,  992,  491,  343,  880,
        645,  761,  152,  241,  727,  352,  246,    1,  479,  958,  749,
        551,  538,  319,  580,  501,  487,  349,  252,  731,  637,  339,
        257,  271,  740, 1002,  404,  190,  254,  277,  100,  648,  810,
        535,  702,  855,   76,  773,  917,  279,  123,  922,  613,  658,
        705,  101,  807,  883,  358,  634,  786,  618,  644,  141,  466,
        340,  495,  283,  352,  886,   95,  291,  217, 1007,    1,  219,
        764, 1025,  600,  895,  690,  738,    1,  772,  727,  774,  340,
        503,    1,  432,  228,  993, 1058,  130,  821,  189,  943,  343,
        404,  560,  196,  418,  782,  314,   59,  778,  979,  828,  584,
        122,  741,  566,  760,  385,  395,  250,  789,  492,  261,  914,
        380,  537,  731,  361,  473,  737,  708,  635,  804,  827,  695,
        756,   57,  178,  688,    1,  871,  415,  510, 1057,  764,  193,
        905,  583,  696,  887,  444,  741,   12,  313,   81,  828,  354,
        981,  499,  283,  545,  635,  540,  689,  946,  730,  703,   14,
        644,  241,  793,  912,  461,  801,  424,  744,  272,  338,  193,
        987,  432,  505,  944,  653,   38,  468,  461,    1,  576,  329,
        274,  701,  432,  851,  915,  137,  927,  903,  373,  770,  160,
        285,  231,  366,  317,  423,  420,  216,  772,  271,  566,  243,
        725,  390,  491,  225,  392,  781,  434,  535,  368,  938,  946,
        353,    1,  707,  143,  630,  364,  822,  147,   54,   91,  431,
        606,  917,  553,  473,  222,  954,  369,  413,  717,  491,  447,
         44,  994,  518,  448,  931,  369,  181,  815,  655,  267,  960,
        611,  271,  771,  993,  359,  810,  563,  360,  264,  199, 1074,
        131,   41,  423,  197,  779,  344,  536,  140,  669,  938,  715,
         67,  321,  434,   19,  928,  759,  178,  160,  277,  467,  653,
        330,  966,  817, 1045,  508,  492,  743,  884,  259,   56,    1,
        421,  270,   99,  429, 1004], dtype=int64)

### Let the Maximal Capacity(W) be 500.

In [4]:
n=len(wt)
W=500
F = [[0 for i in range(0,n)] for j in range(0,W)] 
for i in range(1,n):
    for j in range(1,W):
            if (j-wt[i])<0:
                F[i][j]=F[i-1][j]
            elif (j-wt[i])>=0:
                F[i][j]=max(F[i-1][j],v[i]+F[i-1][j-wt[i]])
print('Maximum Profit is:',F[n-1][W-1])

Maximum Profit is: 1306

### References:

### https://www.ijser.org/researchpaper/Plastic-Bags-Waste-Management-Using-the-Knapsack-Model-Case-Study-Trashy-Bags-Accra.pdf
### https://www.irjet.net/archives/V7/i11/IRJET-V7I11295.pdf